.DS_Store
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
dist/
build/
*.egg-info/
__pycache__/
*.py[cod]
.env
.env.*
.venv/
venv/
.hypothesis/
.tox/
.nox/
.cache/
.pyre/
.dmypy.json
.benchmarks/
.eggs/
pip-wheel-metadata/
site/
docs/_build/
*.log
